.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #33addd;
  color: white;
  padding: 15px 30px;
}

.logo h2 {
  margin: 0;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.nav-links li {
  cursor: pointer;
  font-size: 18px;
}

.nav-links li:hover {
  color: #ffd700;
}